* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
  }

  body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    font-size: 4vmin;
    color: black;
    letter-spacing: 1vmin;
  }

  h1 {
    color: lightsalmon;
    font-size: 3vmin;
    text-transform: capitalize;
  }

  #board {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    margin-top: 1.5vmin;
    border: 0.1vmin solid grey;
  }

  #board > div {
    border: 0.1vmin solid grey;
    font-size: 5vmin;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    box-shadow: 0 2px 4px darkslategray;
    color: black;
    background-color: darkgrey;
  }

  button:hover {
    color: white;
    background-color: red;
  }
